<div *ngIf = "data" class="row" style="padding-top: 30px;">
  <div class="container">
    <div class="single-product">
      <div class="row">
        <div class="col-md-6">
          <div class="product-image">
            <div class="main-image">
              <img [src]="environment.apiUrl + '/images/' + data.productId + '/main-image'" alt="" width="460px" height="460px">
            </div>
            <div class="image-slider">
              <div *ngFor="let image of images">
                <img [src]="environment.apiUrl + '/images/' + image.imageId" alt="" width="110px" height="110px" class="image-list">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-info d-flex flex-column">
            <div class="product-name">
              <h3>{{data.productName}}</h3>
            </div>
            <div class="product-price d-flex justify-content-between">
              <span class="sale-price">{{data.productPrice}}€</span>
              <div class="product-rate">
                <div class="d-flex align-items-center gap-3">
                 <div *ngIf="reviews">
                    <img src="/product/{{data.productId}}/rate" width="130px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-purchase">
            <div class="product-btn-group">
              <button *ngIf="addingToCartItemId !== data.productId" class="button add-cart" (click)="addToCart(data.productId)">Add to cart</button>
              <button *ngIf="addingToWishlistItemId !== data.productId" class="button star" (click)="addToWishlist(data.productId)"> Save</button>
            </div>
          </div>

          <div class="purchase-info d-flex flex-column">
            <div class="delivery d-flex justify-content-between">
              <span> Shipping: </span>
              <span class="delivery-type"> FREE shipping </span>
            </div>

            <div class="refund d-flex justify-content-between">
              <span> Returns: </span>
              <span class="refund-type"> FREE returns </span>
            </div>

            <div class="home-delivery d-flex justify-content-between">
              <span> Stock: </span>
              <span *ngIf= "data.productStock > 0" class="stock"> Units available!</span>
              <span *ngIf = "data.productStock <= 0"class="stock"> Out of stock</span>
            </div>
          </div>

        </div>

              </div>
              <div class="features d-flex justify-content-start">
                <div class="row">
                  <h5>Features</h5>
                  <div class="info-features">
                    <p>{{data.description}}</p>
                  </div>

                  <h5>Reviews</h5>
                  <div *ngFor="let review of reviews; let i = index" class="conteiner-opinion d-flex justify-content-start">
                    <div class="opinion d-flex justify-content-between gap-3">
                      <img src="{{environment.apiUrl}}/images/{{pfps[i]}}" alt="review image" height="90px" width="90px" style="border-radius: 50% ">
                      <div class="user-info d-flex justify-content-between gap-5">
                        <span class="user-name">{{emails[i]}}</span>
                        <div class="product-rate">
                          <div class="d-flex align-items-center gap-3">
                            <span >Rate: {{review.rating}}/5</span>
                          </div>
                          <div class="row">
                            <b>{{review.reviewTitle}}</b>
                            <span class="text-op">{{review.reviewText}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                       <div *ngFor="let image of reviewImages" class="image-slider">
                          <img [src]="environment.apiUrl + '/images/' + image.imageId" alt="" width="200px">
                        </div>
                      </div>
                    </div>
                  </div>

        </div>
      </div>

    </div>
  </div>
</div>


