<div>
  <ngb-carousel [interval]="7500" [wrap]="false" [showNavigationArrows]="false" [showNavigationIndicators]="false">
    <ng-template ngbSlide>
      <img ngSrc="/assets/images/offers1.png" width="1300" height="350" alt="offer1">
    </ng-template>
    <ng-template ngbSlide>
      <img ngSrc="/assets/images/offers2.png" width="1300" height="350" alt="offer2">
    </ng-template>
  </ngb-carousel>
</div>

<!--Recommendations go here-->
<h2>Featured offers</h2>
<div class="row">
  <div class="col-md-3" *ngFor="let item of recommendedProducts">
    <a routerLink="/product/{{item.productId}}">
      <img [ngSrc]="environment.apiUrl + '/images/' + item.productId + '/main-image'" class="center" alt="item" width="100" height="100">
      <p class="destacados">{{item.productName}} <span class="badge text-bg-warning">{{item.productPrice}}€</span></p>
    </a>
  </div>
</div>
