html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
    overflow-x: hidden;
    background-color: #181A1B;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background-color: white; */
    background-color: #181A1B;
    margin: 0;
    padding: 0;
    height: 75%;
    background-repeat: no-repeat;  
}

h1 {
    padding-top: 15px;
    align-items: flex-start;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h2 {
    display: inline-block;
    align-self: center;
    padding-top: 35px;
    color: whitesmoke;
    font-weight: 700;
    text-transform: uppercase;
}

.navigation{
    align-items: flex-end;
    margin-top: 35px;
    color: whitesmoke;
    padding-left: 35px;
    padding-right: 0%;
    font-size: 18px;
}

h3 {
    color: whitesmoke;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.saveButton{
  width: 105px;
  height: 30px;
  line-height: 2px;
  vertical-align: middle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #7aca3d;
}

.textBar{
    padding-top: 10px;
}

.logoImage{
    padding-left: 30px;
}

a:link {color: #7aca3d;}   
a:visited {color: #7aca3d;}
a:hover {color: #7aca3d;}
a:active {color: #7aca3d;} 