html,
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
    overflow-x: hidden;
}
body{font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*background-color: white; */
  background-color: #181A1B;
  margin: 0;
  padding: 0;
  height: 75%;
  background-repeat: no-repeat;
}
.this-web-title{
    padding-left: 10px;
    align-items: flex-start;
}