html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*background-color: white; */
  background-color: #181A1B;
  margin: 0;
  padding: 0;
  height: 75%;
  background-repeat: no-repeat;
}

h1, h2 {
  padding-top: 15px;
  align-items: flex-start;
  color: whitesmoke;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
 h3 {
    align-items: flex-start;
    font-size: small;
    text-align: justify;
    font-weight: 600;
    color: whitesmoke;
    text-transform: uppercase;
 }

 .details {
    align-items: flex-start;
    font-size: medium;
    text-align: left;
    color: whitesmoke;
    font-weight: 500;
    padding-top: 1px;
    padding-bottom: 1px;
 }

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}


.searchbar {
  align-items: flex-start;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
}

.icon {
  align-items: flex-start;
  padding-top: 25px;
}

.navigation {
  margin-top: 35px;
  color: whitesmoke;
  padding-left: 45px;
  font-size: 18px;
}

.btn-success {
    background-color: #7aca3d !important;
  }
  
.border-success {
color: #7aca3d !important;
}

.purchasedetails {
    padding-top: 35px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

h4 {
  color: whitesmoke;
  font-weight: 600;
  text-align: start;
}

.info {
  align-items: flex-start;
  color: whitesmoke;
  font-weight: 500;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 5px;
}

.disclaimer {
  color: whitesmoke;
  font-style: italic;
  font-weight: 200;
  text-align: justify;
  padding-top: 25px;
  align-items: center;
}

.buy {
  padding-top: 35px;
}

.list-group {
  text-align: start;
}


.price {
  align-self: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  padding-top: 5px;
}

.total {
  text-align: center;
  font-weight: 600;
  color: #7aca3d;
  animation: blinker 2.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 50%;
  }
}

a:link {color: #7aca3d;}   
a:visited {color: #7aca3d;}
a:hover {color: #7aca3d;}
a:active {color: #7aca3d;} 

