html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
    overflow-x: hidden;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background-color: white; */
    background-color: #181A1B;
    margin: 0;
    padding: 0;
    height: 75%;
    background-repeat: no-repeat;  
}

h1 {
    padding-top: 15px;
    align-items: flex-start;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h2 {
    display: inline-block;
    padding-top: 35px;
    color: whitesmoke;
    font-weight: 700;
    text-transform: uppercase;
}

.navigation{
    align-items: flex-end;
    margin-top: 35px;
    color: whitesmoke;
    padding-left: 45px;
    padding-right: 0%;
    font-size: 18px;
}