html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-align: center;
  overflow-x: hidden;
  background-color: #181A1B;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background-color: white; */
    background-color: #181A1B;
    margin: 0;
    padding: 0;
    height: 75%;
    background-repeat: no-repeat;
  }

  h1 {
    padding-top: 15px;
    align-items: flex-start;
    color: whitesmoke;
    font-weight: 700;
    text-transform: uppercase;
  }

.single-product {
    width: 1080px;
    margin: 0 auto;
    padding-top: 10px;
  }
  
  .single-product .product-image {
    width: 100%;
  }
  
  .product-image .main-image {
    position: relative;
    display: block;
    height: 480px;
    background: var(--bg-grey);
    background-color: white;
    padding: 10px;
  }
  
  .main-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  
  
  .product-image .image-slider {
    display: flex;
    gap: 10px;
    background-color: #181A1B;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    padding-right: .5em;
  }
  
  .image-slider img {
    width: 90px;
    height: 90px;
    background: var(--bg-grey);
    background-color: white;
    padding: 6px;
    cursor: pointer;
  }
  
 
  
  .stars {
    color: grey;
    align-items: center;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;
  }
  
  .checked {
    color: #7aca3d;
  }


  .list-group-item:hover {
    background-color:#DDDD;

  }