html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
    overflow-x: hidden;
    background-color: #181A1B;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #181A1B;
    /*background-color: white; */
    margin: 0;
    padding: 0;
    height: 75%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    padding-top: 15px;
    align-items: flex-start;
}

.header {
    background-color: #181A1B;
}

.searchbar {
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;
}

.icon {
    align-items: flex-start;
    padding-top: 25px;
}
.navigation{
    align-items: flex-start;
    margin-top: 70px;
    color: whitesmoke;
    padding-left: 45px;
    padding-right: 0%;
    font-size: 18px;
}

.carousel-control-next-icon{
   background-color: black;
}
.carousel-control-prev-icon{
    background-color: black;
}
