<!DOCTYPE html>
<html lang="en" xmlns:padding-top="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="shortcut icon" href="/ranaemptyicon.png">
    <link rel="stylesheet" href="/style.css">
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/app.js"></script>
    <title>3TechMarket - Add Product</title>
</head>

<body>
<div class="container-fluid">
    {{> header}}
        <div class="form">
            <form action="/addproduct-create" enctype="multipart/form-data" method="POST">
                <div style="text-align:center">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="textBar">
                                <div class="col-md-12">
                                    <label class="labels"></label><input type="text" class="form-control"
                                                                         placeholder="Product Name" value=""
                                                                         name="name"></div>
                            </div>
                            <div class="textBar">
                                <div class="col-md-12">
                                    <label class="labels"></label><input type="text" class="form-control"
                                                                         placeholder="Description" value=""
                                                                         name="description"></div>
                            </div>
                            <div class="textBar">
                                <div class="col-md-12"><label class="labels"></label><input type="number" step="0.01"
                                                                                            class="form-control"
                                                                                            placeholder="Price" value=""
                                                                                            name="price">
                                </div>
                            </div>
                            <div class="textBar">
                                <div class="col-md-12"><label class="labels"></label><input type="number"
                                                                                            class="form-control"
                                                                                            placeholder="Amount"
                                                                                            value="" name="amount">
                                </div>
                            </div>
                            <div class="textBar">
                                <div class="col-md-12"><label class="labels"></label><input type="text"
                                                                                            class="form-control"
                                                                                            placeholder="Tags" value=""
                                                                                            name="tags">
                                </div>
                            </div>
                            <!--Add the product main image and other images-->
                            <div class="textBar">
                                <div class="col-md-12"><label class="labels"></label><input type="file"
                                                                                            class="form-control"
                                                                                            placeholder="Main Image"
                                                                                            value="" name="mainImage">
                                </div>
                                <!--Multi image upload-->
                                <div class="textBar">
                                    <div class="col-md-12"><label class="labels"></label><input type="file"
                                                                                                class="form-control"
                                                                                                placeholder="More Images"
                                                                                                value=""
                                                                                                name="moreImages"
                                                                                                multiple="multiple">
                                    </div>
                                </div>
                                <div class="buttonMargin">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>

    </div>
</div>
{{> footer}}
</body>

</html>