<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/createreview.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>3TechMarket - Product review</title>
</head>
<body>
    <div class="container-fluid">
        {{> header}}
        <h2>Add review</h2>
        <br>
        <div class="container-md">
            <div class="row purchasedetails">
                {{#product}}
                <div class="col-md-2"> <!--Thumbnail added with Mustache-->
                    <img src="/product/{{productId}}/image" alt="thumbnail" width="150" height="150">
                </div>
                <div class="col-md-10">
                    <h3>{{productName}}</h3>
                    <p class="detailsone">{{description}}</p>
                    <p class="details">Your name and review content will be visible to anyone browsing the website</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <form action="/product/{{productId}}/send-review" method="post" enctype="multipart/form-data">
                {{/product}}
                <div class="row stars">
                    <div class="col-md-12">
                        <span class="heading">Overall rating</span>
                        <br>
                        <!--Select number of stars-->
                        <div class="rating">
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 stars">1</label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 stars">2</label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 stars">3</label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 stars">4</label>
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 stars">5</label>
                        </div>
                    </div>
                </div>
                <div class="row review">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Review title" id="floatingTextarea" name="reviewTitle" required></textarea>
                            <label for="floatingTextarea">Review title</label>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row review">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave your comments here" id="floatingTextarea2" name="reviewText" style="height: 100px" required></textarea>
                            <label for="floatingTextarea2">Additional comments</label>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row review">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <input type="file" class="form-control" id="floatingInput" name="images" accept="image/*" multiple placeholder="Upload images">
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row review">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button type="button" onclick="window.location.href='/'" class="btn btn-danger btn-lg mt-2">Cancel</button>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success btn-lg mt-1">Upload review!</button>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </form>
            </div>
    </div>
    {{> footer}}
</body>
</html>