<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/cart.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/AJAX/ajaxcart.js"></script>
    <script src="/app.js"></script>

    <title>3TechMarket - Shopping cart</title>
</head>
<body>
  <div class="container-fluid">
      {{> header}}
      <h1>Shopping Cart</h1>
      <br><br>

    <!--Shopping cart -->
      <div class="container-fluid" id="items">
            {{#items}} <!--If there are items in the cart, then show them-->
            <div class="row item">
                <div class="col-md-4">
                    <img src="/product/{{productId}}/image" class="center" alt="item" width="200" height="200">
                </div>
                <div class="col-md-4">
                    <h3>{{productName}}</h3>
                    <p class="description">{{description}}</p>
                </div>
                <div class="col-md-2">
                    <h3>Price</h3>
                    <p class="price">€{{productPrice}}</p>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success" onclick="window.location.href='/checkout/{{productId}}'">Checkout</button>
                    <br><br>
                    <button class="btn btn-outline-danger" onclick="window.location.href='/remove-from-cart/{{productId}}'">Remove</button>
                </div>
            </div>
            <hr>
            {{/items}}
            {{^items}}
            <div class="col-md-12">
                <h2>There are no items in your cart, <a href="/">START SHOPPING NOW!</a></h2>
            </div>
            {{/items}}

      </div>
          {{#hasMore}}
          <div class="row">
              <div class="col-md-12 text-center">
                  <button id="loadMore" class="btn btn-info">Load more</button>
                  <input type="hidden" name="total" id="total" value="{{total}}"/>
              </div>
          </div>
          {{/hasMore}}
          <div class="row">
              <div class="col-md-12">
                  <h2>Total: <span class="total">€{{totalPrice}}</span></h2>
              </div>
          </div>

</div>
  {{> footer}}
</body>
</html>