<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">

    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>3TechMarket - Checkout</title>
</head>
<body>
{{> header}}
<div class="row results" id="results">

    {{#items}}
    <div class="col-md-2">
        <a href="/product/{{productId}}">
            <img src="/product/{{productId}}/image" alt="resultimage" width="120" height="120">
            <p class="name">{{productName}}</p>
            <p>{{productPrice}} $ </p>
        </a>
    </div>
    {{/items}}

    <div class="col-md-12 form" style="background-color: white">
        <form action="/payout" method="post" style="color: white">
            <label class="address" name="address" placeholder="Address"></label>
        </form>


    </div>

    <div class="col-md-12" >
        <p class="total" style="color: white">Total: {{totalPrice}} $
            <a href="/payout">
                <button class="btn btn-primary" type="button">Payout</button>
            </a>
        </p>

    </div>

</div>


{{> footer}}
</body>
</html>