<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/AJAX/ajaxdashboard.js"></script>
    <title>3TechMarket - Admin dashboard</title>
</head>
<body>
<div class="container-fluid">
    {{> header}}
    <h1 class="text-center">Admin dashboard</h1>
    <div class="row results" id="results">
        {{#item}}
        <div class="col-md-2">
            <a href="/product/{{productId}}">
                <img src="/product/{{productId}}/image" alt="resultimage" width="120" height="120">
                <p class="name">{{productName}}</p>

                <p>{{productPrice}} $ <span class="badge text-bg-success">Stock: {{productStock}}</span></p>
                <p><a href="/product/{{productId}}/editproduct" class="btn btn-primary">Edit</a>

                    <a href="/product/{{productId}}/delete" class="btn btn-danger">Delete</a>
                    <a href="reviewhistory/{{productId}}" class="btn btn-dark">Review history</a>
                    <a href="/pricehistory/{{productId}}" class="btn btn-dark">Price history</a>
                </p>
            </a>
        </div>
        {{/item}}
        {{^item}}
        <div class="col-md-12">
            <h1>No results found</h1>
        </div>
        {{/item}}
    </div>
    {{#hasMore}}
    <div class="row">
        <div class="col-md-12">
            <button id="loadMore" class="btn btn-success">Load more</button>
            <input type="hidden" name="total" id="total" value="{{total}}"/>
        </div>
    </div>
    {{/hasMore}}
</div>
{{> footer}}
</body>
</html>