<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>3TechMarket - The best technology shop online</title>
</head>
<body>
<div class="container-fluid">
    <div class="row header">
        <div class="col-md-2">
            <h1><a href="/"><img src="/logo2.png" alt="logo" width="180" height="76"></a></h1>
        </div>
        <div class="col-md-8">
            <div class="input-group mb-4 searchbar">
                <input type="search" placeholder="Search 3TechMarket" aria-describedby="button-addon5"
                       class="form-control border-success">
                <div class="input-group-append">
                    <button id="button-addon7" type="submit" class="btn btn-success"><i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <!--Header icons-->
        <div class="col-md-2 ">

            <div class="row">
                <div class="col-md-2 navigation">

                    <div class="dropdown">
                        <a class="fa-solid fa-user" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/purchases">Recent orders</a></li>
                            <li><a class="dropdown-item" href="/profile">Edit profile</a></li>
                            <li>
                                <form action="/logout" method="post">
                                    <button class="dropdown-item" type="submit">Logout</button>
                                    <input type="hidden" name="_csrf" value="{{token}}"/>
                                </form>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-3 navigation">

                    <a href="/addproduct">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>

                </div>

                <div class="col-md-3 navigation">

                    <a href="/statistics">
                        <i class="fa-solid fa-chart-simple"></i>
                    </a>

                </div>


            </div>


        </div>
    </div>

    <div class="row results">
        {{#item}}
        <div class="col-md-2">
            <a href="/product/{{productId}}">
                <img src="/product/{{productId}}/image" alt="resultimage" width="120" height="120">
                <p class="name">{{productName}}</p>
                <p>{{productPrice}} € <span class="badge text-bg-success">{{productStock}}</span></p>
            </a>
        </div>
        {{/item}}
        {{^item}}
        <div class="col-md-12">
            <h1>No results found</h1>
        </div>
        {{/item}}
    </div>


</div>


</body>
</html>