<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/error.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
  <script src="/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


  <title>Unauthorized user</title>
</head>

<body>

  <div class="container-fluid">
    <div class="row header">
      <div class="col-md-2">
        <h1><a href="/"><img src="/logo2.png" alt="logo" width="180" height="76"></a></h1>
      </div>
      <div class="col-md-8">
        <div class="input-group mb-4 searchbar">
          <input type="search" placeholder="Search 3TechMarket" aria-describedby="button-addon5"
            class="form-control border-success">
          <div class="input-group-append">
            <button id="button-addon7" type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>

      <!--Header icons-->
      <div class="col-md-2 ">
        <div class="row">
          <div class="col-md-2 navigation">

            <div class="dropdown">
              <a class="fa-solid fa-user" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/purchases">Recent orders</a></li>
                <li><a class="dropdown-item" href="/profile">Edit profile</a></li>
                <li><a class="dropdown-item" href="/signin">Log In/Sign Up</a></li>
              </ul>
            </div>

          </div>

          <div class="col-md-2 navigation ">

            <a href="#">
              <i class="fa-solid fa-star"></i>
            </a>

          </div>

          <div class="col-md-2 navigation">

            <a href="#">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>

          </div>

          <div class="col-md-2 navigation ">

            <a href="#">
              <i class="fa-solid fa-bell"></i>
            </a>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 errorimg">
    <h1><img src="/error-404.png"></h1>
  </div>


</body>

</html>