<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/ranaemptyicon.png">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>3TechMarket - The best technology shop online</title>
</head>
<body>
  <div class="container-fluid">
      {{> header}}
      <div id="carouselExampleControls" class="carousel " data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/offers1.png" width="1300px" height="350px" >
          </div>
          <div class="carousel-item">
            <img src="/offers2.png" width="1300px" height="350px" >
          </div>
          
        </div>
        
        
      </div>

      <h2>Featured offers</h2>
      <!--Recommended products row-->
      <div class="row destacados">
          {{#default}}
        <div class="col-md-3">
          <a href="#">
            <img src="/assets/images/pc15.jpg" alt="destacado" width="100" height="100">
            <p class="destacados">Product name  <span class="badge text-bg-success">500$</span></p>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#">
            <img src="/assets/images/pc17.jpg" alt="destacado" width="100" height="100">
            <p class="destacados">Product name <span class="badge text-bg-success">500$</span></p>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#">
            <img src="/assets/images/pc19.jpg" alt="destacado" width="100" height="100">
            <p class="destacados">Product name <span class="badge text-bg-success">500$</span></p>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#">
            <img src="/assets/images/pc2.jpg" alt="destacado" width="100" height="100">
            <p class="destacados">Product name <span class="badge text-bg-success">500$</span></p>
          </a>
        </div>
          {{/default}}
      </div>
      {{^default}}
      <div class="col-md-3">
          <a href="/product/{{productId}}">
              <img src="/product/{{productId}}/image" alt="featured" width="100" height="100">
              <p class="destacados">{{productName}}<span class="badge text-bg-warning">{{productPrice}}€</span></p>
          </a>
      </div>
      {{/default}}
  </div>
  {{> footer}}
</body>
</html>