<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="shortcut icon" href="/ranaemptyicon.png">
  <link rel="stylesheet" href="/messages.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
          crossorigin="anonymous"></script>
  <script src="/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="/app.js"></script>
  <title>3TechMarket - Support messages</title>
</head>

<body>
<div class="container-fluid">
  {{> header}}
</div>
<div class="container">
  <div class="header">
    <h3>SUPPORT CHAT</h3>
  </div>
  <div class="body">
    {{#messages}}
    {{#isUser}}
    <p class="message user_message">{{message}}</p>
    {{/isUser}}
    {{^isUser}}
    <p class="message agent_message">{{message}}</p>
    {{/isUser}}
    {{/messages}}
  </div>
  <div class="footer">
    <form method="POST" action="/send-message{{agent}}">
      <input type="text" name="messageText" placeholder="Type your message here...">
      <input type="hidden" name="_csrf" value="{{token}}"/>
      <input type="hidden" name="identification" value="{{userId}}"/>
      <button type="submit" class="formbutton">Send</button>
    </form>
  </div>
</div>

</div>

{{> footer}}
</body>

</html>