<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/product.css">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
          crossorigin="anonymous"></script>
  <script src="/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="/productRate.js"></script>
  <script src="./app.js"></script>
  <title>3TechMarket - {{name}}</title>
</head>

<body>
<div class="container-fluid">
  <div class="row header">
    <div class="col-md-2">
      <h1><a href="/"><img src="/logo2.png" alt="logo" width="180" height="76"></a>
      </h1>
    </div>
    <div class="col-md-8">
      <div class="input-group mb-4 searchbar">
        <input type="search" placeholder="Search 3TechMarket" aria-describedby="button-addon5"
               class="form-control border-success">
        <div class="input-group-append">
          <button id="button-addon7" type="submit" class="btn btn-success"><i
                  class="fa fa-search"></i></button>
        </div>
      </div>
    </div>

    <!--Iconos del header-->
    <div class="col-md-2 ">
      {{#isLoggedIn}}
      <div class="row">
        <div class="col-md-2 navigation">

          <div class="dropdown">
            <a class="fa-solid fa-user" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/purchases">Recent orders</a></li>
              <li><a class="dropdown-item" href="/profile">Edit profile</a></li>
              <li><form action="/logout" method="post">
                <button class="dropdown-item" type="submit">Logout</button>
                <input type="hidden" name="_csrf" value="{{token}}"/>
              </form></li>
            </ul>
          </div>

        </div>

        <div class="col-md-2 navigation">

          <a href="/wishlist">
            <i class="fa-solid fa-star"></i>
          </a>

        </div>

        <div class="col-md-2 navigation">

          <a href="/cart">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>

        </div>

        <div class="col-md-2 navigation ">

          <a href="#">
            <i class="fa-solid fa-bell"></i>
          </a>

        </div>

      </div>
      {{/isLoggedIn}}
      {{^isLoggedIn}}
      <div class="row">
        <!-- Login or register button linked to /signin -->
        <a href="/signin" class="buttonlogin"><button class="btn btn-success">Login or register</button></a>
        {{/isLoggedIn}}
      </div>
    </div>
  </div>
{{#product}}
  <div class="container">
    <div class="single-product">
      <div class="row">
        <div class="col-md-6">
          <div class="product-image">
            <div class="main-image">
              <img src="/product/{{productId}}/image" alt="" width="460px">
            </div>
            <div class="image-slider">
              {{#images}}
                <img src="{{.}}" alt="" width="110px" class="image-list">
              {{/images}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-info d-flex flex-column">
            <div class="product-name">
              <h3>{{productName}}</h3>
            </div>
            <div class="product-price d-flex justify-content-between">
              {{#discount}}
              <!--have to do this-->
              <span class="original-price">{{productPrice}}</span>
              <span class="discount">{{discount}}</span>
              {{/discount}}

              {{^discount}}
              <span class="sale-price">{{productPrice}}</span>
              {{/discount}}
              <div class="product-rate">
                <div class="d-flex align-items-center gap-3">
                  <img src="/1.png" id="productRating" width="130px">
                  <span class="d-none" id="productRate">5</span> <!--have to do this-->
                </div>
              </div>
            </div>
          </div>
          <div class="product-purchase">

            <div class="product-btn-group">
              <div class="button buy-now"><i class='bx bx-money-withdraw'></i></i> Comprar</div>
              <div class="button add-cart"><i class='bx bx-cart-download'></i></i> Añadir al carrito
              </div>
              <div class="button star"><i class='bx bxs-star'></i> Guardar</div>
            </div>
          </div>

          <div class="purchase-info d-flex flex-column">
            <div class="delivery d-flex justify-content-between">
              <span> Envío: </span>
              <span class="delivery-type"> Envío GRATIS </span>
            </div>

            <div class="refund d-flex justify-content-between">
              <span> Devolución: </span>
              <span class="refund-type"> Devolución GRATIS </span>
            </div>

            <div class="home-delivery d-flex justify-content-between">
              <span> Envío a domicilio: </span>
              {{#productStock}}
              <span class="stock"> ¡En stock!</span>
              {{/productStock}}

              {{^productStock}}
              <span class="stock"> No hay stock</span>
              {{/productStock}}

            </div>

          </div>

        </div>

      </div>
      <div class="features d-flex justify-content-start">
        <div class="row">
          <h5>Características</h5>
          <div class="info-features">
            <p>{{description}}</p>

          </div>
          <h5>Opiniones</h5>
          {{#reviews}}
          <div class="conteiner-opinion d-flex justify-content-start">
            <div class="opinion d-flex justify-content-between gap-3">
              {{#profilePicture}}
              <img src="{{profilePicture}}" width="90px">
              {{/profilePicture}}

              {{^profilePicture}}
              <img src="https://i.imgur.com/FSW2P4r.jpg" width="90px">
              {{/profilePicture}}

              <div class="user-info d-flex justify-content-between gap-5">
                <span class=" user-name">{{email}}</span>
                <div class="product-rate">
                  <div class="d-flex align-items-center gap-3">
                    <img src="/1.png" id="starRating" width="130px">
                    <span class="d-none" id="rate">{{rating}}</span>
                  </div>
                  <div class="row">
                    <b>{{reviewTitle}}</b>
                    <span class="text-op">{{reviewText}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/reviews}}

        </div>
      </div>

    </div>
  </div>
  {{/product}}
</div>

</body>