<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/ranaemptyicon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/app.js"></script>
    <title>3TechMarket - Profile</title>
</head>
<body>
    <div class="container-fluid">
        {{> header}}
        </div>

        <div class="container rounded bg-white mt-1 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        {{#hasPfp}}
                        <img class="rounded-circle mt-5" width="150px" src="{{pfp}}">
                        {{/hasPfp}}
                        {{^hasPfp}}
                        <img class="rounded-circle mt-5" width="150px" src="https://i.imgur.com/FSW2P4r.jpg">
                        {{/hasPfp}}
                        <br>
                        <span class="font-weight-bold">{{firstName}}</span>
                        <span class="text-black-50">{{email}}</span>
                        <span> </span>
                        <form action="/edit-pfp" method="post" enctype="multipart/form-data">
                            <br>
                            <input class="pfp" type="file" placeholder="Upload a new profile picture" name="pfp" id="pfp" accept="image/jpeg, image/png">
                            <br>
                            <input type="submit" value="Save new profile picture" class="btn btn-outline-primary">
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                        </form>
                    </div>
                </div>
                <div class="col-md-8 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <form action="/edit-profile" method="post">
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels"></label><input type="text" id="firstName" name="firstName" class="form-control" value="{{firstName}}" placeholder="First Name" ></div>
                            <div class="col-md-6"><label class="labels"></label><input type="text" id="lastName" name="lastName" class="form-control" value="{{lastName}}" placeholder="Last Name" ></div>
                        </div>

                        <div class="row mt-3" >
                            <div class="col-md-12"><label class="labels"></label><input type="text" class="form-control" value="{{email}}" placeholder="Email" readonly></div>
                            <div class="col-md-12"><label class="labels"></label><input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value="{{phoneNumber}}" placeholder="Phone Number"  ></div>
                            <div class="col-md-12"><label class="labels"></label><input type="text" id="address" name="address" class="form-control" value="{{address}}" placeholder="Address" ></div>
                            <div class="col-md-12"><label class="labels"></label><input type="text" id="postcode" name="postcode" class="form-control" value="{{postcode}}" placeholder="Postcode" ></div>
                            <div class="col-md-12"><label class="labels"></label><input type="text" id="state" name="state" class="form-control" value="{{state}}" placeholder="State" ></div>
                            <div class="col-md-12"><label class="labels"></label><input type="text" id="country" name="country" class="form-control" value="{{country}}" placeholder="Country" ></div>
                            <div class="col-md-12"><label class="labels"></label><input type="text" id="city" name="city" class="form-control" value="{{city}}" placeholder="City" ></div>
                            <div class="col-md-12"><label class="labels"></label><input type="text" id="area" name="area" class="form-control" value="{{area}}" placeholder="Area" ></div>
                        </div>
                        <br>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</body>
</html>