<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="shortcut icon" href="/ranaemptyicon.png">
    <link rel="stylesheet" href="/purchases.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/AJAX/ajaxpurchases.js"></script>
    <script src="/app.js"></script>
    <title>3TechMarket - Purchase history</title>
</head>
<body>
    <div class="container-fluid">
        {{> header}}
        <h2>Your recent orders</h2>
        <br>
        <div class="container-md">
        {{#purchases}}
            <div class="row purchasedetails">
                <div class="col-md-4"> <!--Thumbnail-->
                    <img src="/product/{{product.productId}}/image" alt="thumbnail" width="200" height="200">
                </div>
                <div class="col-md-2">
                    <h3>{{product.productName}}</h3>
                    <p class="details">Date: <span class="badge text-bg-info">{{timestamp}}</span></p>
                    <p class="details">{{product.productPrice}}€</p>
                </div> <!--Purchase details-->
                <div class="col-md-4">
                    <h3>Shipping address and payment method</h3>
                    <p class="details">Address: <b>{{address}}</b></p>
                    <p class="details">Payment method: <b>{{paymentMethod}}</b></p>
                    <p class="details"><a href="/invoice/{{purchaseId}}"><button type="button" class="btn btn-info">Download your invoice (PDF)</button></a></p>
                </div>
                <div class="col-md-2">
                    <button type="button" onclick="window.location.href='/product/{{product.productId}}/review'" class="btn btn-outline-success btn-lg mt-1">Leave a review</button> <!--Review button, I don't know if it will work given that the id is different from the one on the Purchase model-->
                    <br>
                    <button type="button" onclick="window.location.href='/messages'" class="btn btn-outline-primary btn-lg mt-2">Contact support</button>
                    <br>
                    <button type="button" onclick="window.location.href='/return/{{purchaseId}}'" class="btn btn-outline-secondary btn-lg mt-2">Return product</button>
                </div> <!--Price and invoice-->
            </div>
            {{/purchases}}
            {{^purchases}}
            <div class="col-md-12">
                <h1>You haven't placed any order yet - <a href="/">Start shopping now!</a></h1>
            </div>
            {{/purchases}}
            {{#hasMore}}
            <div class="row">
                <div class="col-md-12">
                    <button id="loadMore" class="btn btn-info">Load more</button>
                    <input type="hidden" name="total" id="total" value="{{total}}"/>
                </div>
            </div>
            {{/hasMore}}
        </div>
    </div>
    {{> footer}}
</body>
</html>