<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/searchresults.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/AJAX/ajaxsearch.js"></script>
    <title>3TechMarket - Search: {{product}}</title>
    <meta name="_csrf" content="{{token}}" />
</head>
<body>
    <div class="container-fluid">
        {{> header}}
        <div class="container-md">
          <h2>Search results for: {{product}}</h2>
          <br>
          <div class="row results" id="results">
              {{#results}}
              <div class="col-md-2">
                  <a href="/product/{{productId}}">
                      <img src="/product/{{productId}}/image" alt="resultimage" width="120" height="120">
                      <p class="name">{{productName}}</p>
                      <p>{{productPrice}} € <span class="badge text-bg-success">Stock: {{productStock}}</span></p>
                  </a>
              </div>
              {{/results}}
              {{^results}}
              <div class="col-md-12">
                  <h1>No results found</h1>
              </div>
              {{/results}}
          </div>
          {{#hasMore}}
          <div class="row">
            <div class="col-md-12">
                <button id="loadMore" class="btn btn-success">Load more</button>
                <input type="hidden" name="total" id="total" value="{{total}}"/>
                <input type="hidden" name="product" id="product" value="{{product}}"/>
            </div>
          </div>
          {{/hasMore}}
        </div>
        </div>
</body>
</html>