<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/wishlist.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
  <script src="/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/AJAX/ajaxwishlist.js"></script>
  <script src="/app.js"></script>

  <title>3TechMarket - Wishlist</title>
</head>
<body>
<div class="container-fluid">
  {{> header}}
  <h1>Wishlist</h1>

  <!--Wishlist -->
  <div class="container-fluid">
    <!--Using Mustache to generate the items-->
    {{#items}} <!--If there are items in the wishlist, then show them-->
    <div class="row item">
      <div class="col-md-4">
        <img src="/product/{{productId}}/image" alt="item" width="200" height="200">
      </div>
      <div class="col-md-4">
        <h3>{{productName}}</h3>
        <p>{{description}}</p>
      </div>
      <div class="col-md-4">
        <h3>Price</h3>
        <p>${{productPrice}}</p>
      </div>
      {{/items}}
      {{^items}}
      <div class="col-md-12">
        <h2>There are no items in your wishlist, <a href="/">START SHOPPING NOW!</a></h2>
      </div>
    </div>
    {{/items}}
    {{#hasMore}}
    <div class="row">
      <div class="col-md-12">
        <button id="loadMore" class="btn btn-info">Load more</button>
        <input type="hidden" name="total" id="total" value="{{total}}"/>
      </div>
    </div>
    {{/hasMore}}

  </div>

</div>
{{> footer}}
</body>
</html>