html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-align: center;
  overflow-x: hidden;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*background-color: white; */
  background-color: #181A1B;
  margin: 0;
  padding: 0;
  height: 75%;
  background-repeat: no-repeat;
}

h1, h2 {
  padding-top: 15px;
  align-items: flex-start;
  color: whitesmoke;
  font-weight: 700;
  text-transform: uppercase;
}
 h3 {
    align-items: flex-start;
    font-size: small;
    text-align: justify;
    font-weight: 700;
    color: whitesmoke;
    text-transform: uppercase;
 }

 .details {
    align-items: flex-start;
    font-size: medium;
    text-align: left;
    font-style: italic;
    color: whitesmoke;
    font-weight: 500;
    padding-top: 1px;
    padding-bottom: 1px;
 }

.detailsone {
    align-items: flex-start;
    font-size: medium;
    text-align: left;
    color: whitesmoke;
    font-weight: 500;
    padding-top: 1px;
    padding-bottom: 1px;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}


.searchbar {
  align-items: flex-start;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
}

.icon {
  align-items: flex-start;
  padding-top: 25px;
}

.navigation {
  margin-top: 35px;
  color: whitesmoke;
  padding-left: 45px;
  font-size: 18px;
}

.btn-success {
    background-color: #7aca3d !important;
  }
  
.border-success {
color: #7aca3d !important;
}

.purchasedetails {
    padding-top: 35px;

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

textarea {
  resize: none;
}

.stars {
  color: whitesmoke;
  align-items: center;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 600;
}

.checked {
  color: #7aca3d;
}

.review {
  padding-top: 15px;
}

a:link {color: #7aca3d;}   
a:visited {color: #7aca3d;}
a:hover {color: #7aca3d;}
a:active {color: #7aca3d;} 

