
<div class="row header" >
  <div class="col-md-2">
    <h1><a href="/"><img src="assets/images/logo2.png" alt="logo" width="180" height="76"></a></h1>
  </div>
  <div class="col-md-8">
    <form>
      <div class="input-group mb-4 searchbar">
        <input type="search" name="product" placeholder="Search 3TechMarket" aria-describedby="button-addon5" class="form-control border-success" [(ngModel)]="searchTerm">
        <div class="input-group-append">
          <button id="button-addon7" type="submit" class="btn btn-success" (click)="search()"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>

  <!--Header icons-->
  <div class="col-md-2 ">

    <div class="row">
      <!-- Login or register button linked to /signin -->
      <a href="/signin" class="buttonlogin" style="padding-top: 30px;"><button class="btn btn-success">Login or register</button></a>
    </div>
  </div>
</div>
<div *ngIf="showSearchResults">
  <app-product-search [product]="searchTerm"></app-product-search>
</div>

<div *ngIf="!showSearchResults">
  <div id="carouselExampleControls" class="carousel " data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/offers1.png" width="1300px" height="350px" >
      </div>
      <div class="carousel-item">
        <img src="/assets/images/offers2.png" width="1300px" height="350px" >
      </div>
    </div>
  </div>
  
</div>



