<div class="col-md-12">
  <h1 class="loginText">Enter your email</h1>
</div>
<form>
  <div class="col-md-12">
    <div class="container">
      <input type="email" id="email" placeholder="Email" name="email" class="loginBox" required>
    </div>
  </div>
  <div class="col-md-12">
    <div class="container">
      <!--Show a bootstrap alert-->
      <div class="alert alert-danger" role="alert">
        Email or password is incorrect!
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="buttonMargin">
      <button type="submit" class="btn btn-primary">Send Email</button>
    </div>
  </div>
  <div class="col-md-12">
    <h1 class="noAccountText"><a routerLink="/login">Sign In!</a></h1>
  </div>
</form>
