<h1>Shopping Cart</h1>
<br><br>

<div class="container-md" id="items">
  <div class="row item" *ngFor="let item of items">
    <div class="col-md-4">
      <img [ngSrc]="'/api/images/' + item.productId + '/main-image'" class="center" alt="item" width="200" height="200">
    </div>
    <div class="col-md-4">
      <a routerLink="/product/{{item.productId}}"><h3>{{item.productName}}</h3></a>
      <p class="description">{{item.description}}</p>
    </div>
    <div class="col-md-2">
      <h3>Price</h3>
      <p class="price">€{{item.productPrice}}</p>
    </div>
    <div class="col-md-2">
      <button *ngIf="deletingItemId !== item.productId" class="btn btn-outline-danger" (click)="removeFromCart(item.productId)">Remove</button>
      <button *ngIf="deletingItemId === item.productId" class="btn btn-outline-danger" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Removing...
      </button>
    </div>
  </div>

  <hr *ngIf="items.length > 0">
  <div class="col-md-12" *ngIf="items.length === 0">
    <div *ngIf="loading" class="spinner-border text-success" style="width: 5rem; height: 5rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div *ngIf="!loading">
      <h2>There are no items in your cart, <a routerLink="/">START SHOPPING NOW!</a></h2>
    </div>
  </div>

</div>

<div class="row" *ngIf="hasMore">
  <div class="col-md-12 text-center">
    <button class="btn btn-info" *ngIf="!loadingMore" (click)="loadMore()">Load more</button>
    <button class="btn btn-info" *ngIf="loadingMore" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>
  </div>
</div>

<div class="row" *ngIf="hasItems">
  <div class="col-md-12 text-center">
    <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
  </div>
</div>

<div class="row" *ngIf="hasItems">
  <div class="col-md-12">
    <h2>Total: <span class="total">€{{totalPrice}}</span></h2>
  </div>
</div>

