<div class="container">
  <h2>Search results for: {{product}}</h2>
  <br>
  <div class="row results" id="results">
    <ng-container *ngIf="total > 0; else loading">
      <div class="col-md-2" *ngFor="let result of results">
        <a routerLink="['/product', result.productId]">
          <img [ngSrc]="'api/images/' + result.productId + '/main-image'" width="120" height="120" alt="resultimage">
          <p class="name">{{result.productName}}</p>
          <p>{{result.productPrice}} € <span class="badge bg-success text-white">Stock: {{result.productStock}}</span></p>
        </a>
      </div>
      <br>
      <div class="row" *ngIf="total > size*page">
        <div class="col-md-12">
          <button class="btn btn-success" *ngIf="!loadingMore" (click)="loadMore()">Load more</button>
          <button class="btn btn-success" *ngIf="loadingMore" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="col-md-12">
        <div class="spinner-border text-success" style="width: 5rem; height: 5rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <br>
        <h4>Taking too long? We may not have any results for your search :(</h4>
      </div>
    </ng-template>
  </div>
</div>
